
// Mazzard=======================================
@font-face {
  font-family: 'Mazzard H';
  src: local('Mazzard H Black'), local('MazzardH-Black'),
      url('../fonts/mazard/MazzardH-Black.woff2') format('woff2'),
      url('../fonts/mazard/MazzardH-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
// Mazzard=====================================//