// COLORS=======================
$color-primary: #333333;

// Container====================
$width-container: 1200px;
$p-container: 30px;

// FONTS========================
$font-mazzard: 'Mazzard H';

// Media========================
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
$max-xxl: 1400px;

